{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Foundation Test</title>
      <link rel="stylesheet" href="{% static "stylesheets/app.css"  %}"/>

      <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
  </head>
  <body>
  <div class="row">
      <div class="large-8 medium-8 columns">
          <h5>Here&rsquo;s your basic grid:</h5>
      </div>
  </div>
    {% block content %}

    {% endblock %}
    <script src="{% static "bower_components/jquery/dist/jquery.min.js"  %}"></script>
    <script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>