<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/static/templates/components/proto-element.html">
    <link rel="import" href="/static/templates/themes/sky.html">
{#    <link rel="import" href="/static/bower_components/iron-component-page/iron-component-page.html">#}
</head>
<body>
<dom-module id="content">

</dom-module>
<proto-element></proto-element>

<paper-icon-button id="number" icon="communication:email" alt="inbox">
</paper-icon-button>
<paper-badge for="number" label="4">
</paper-badge>

<paper-icon-button id="icon" icon="account-box" alt="person">
</paper-icon-button>
<paper-badge icon="social:mood" for="icon" label="happy">
</paper-badge>
<label>
    <textarea class="lite">

    </textarea>
</label>
</body>
</html>
